/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/img/documentation/11_special 1k subs.jpg-1610593527.jpeg
public/img/documentation/392dc686-de24-42e9-be4f-a95637312d2b.jpeg-1610593526.jpeg
public/img/documentation/3d-digital-art-youtube-red-wallpaper-preview.jpg-1610593527.jpeg
app/Http/Controllers/Api/ActionPlanController.php
public/img/documentation/fm7 indo 1 jam.jpg-1610973994.jpeg
public/img/documentation/nfsindo.jpg-1610973910.jpeg
public/img/documentation/nfsindo.jpg-1610973968.jpeg
public/img/program/christmas new year vids.png-1610973910.png
public/img/program/cyberpunk 2088.jpg-1610973968.jpeg
public/img/program/ros.jpg-1610973994.jpeg
public/img/program/Untitled-1.png-1610973893.png
public/img/userPic/dark2.png-1610971749.png
