.special {
    background-color: black;
    color: red;
}
#special{
    background-color: black;
    color: red;
}

#app{
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #F9C03D;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 3vh;
    height: 100vh;
    padding: 0 ;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 1;
}
.app{
    margin: 0;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    padding: 0;
}

.nav-item:last-child {
    margin-top: auto;
    padding: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-group {
    width: 50px;
    height: 50px;
}

.fa-primary {
    color: #FFD576;
}

.fa-secondary {
    color: #F9C03D;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg
    {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text
    {
        left: 0px;
    }
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}

/*GRID LAYOUTSS*/
.big{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}
.smol1{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}
.smol2{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.smol3{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: green;
}

/*circular text*/
.circular {
    text-decoration: none;
    color: white;
    border: 0.5vh solid #bdc2c1;
    border-color: #d6d6d6;
    background: #d6d6d6;
    border-radius: 4vh;
    text-align: center;
}

.yellow-hover:hover, .blue-hover:hover,
.purple-hover:hover, .gray-hover:hover {
    text-decoration: none;
    color: #D9D9D9;
}

.yellow-hover:hover {
    color: black;
    border-color: #EFB93D;
    background: #EFB93D;
}

.blue-hover:hover {
    border-color: #0071C5;
    background: #0071C5;
}

.purple-hover:hover {
    border-color: #8A0BB1;
    background: #8A0BB1;
}

.gray-hover:hover {
    color: #898989;
    border-color: #DADAD1;
    background: #DADAD1;
}

/*cobaaa*/
.a-none{
    text-decoration: none;
}

* {box-sizing: border-box;}
*:hover, *:focus {outline:0}
button, select, input {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.quiz-window {
    left:0; right:0;
    top: 50px;
    margin: auto;
    width: 100%;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
}
.quiz-window-header {
    padding: 20px 15px;
    text-align:center;
    position: relative;
}
.quiz-window-title {
    font-size: 26px;
}
.quiz-window-close {
    position: absolute;
    top:20px;
    right:20px;
    padding:0;
    background:none;
    border:0;
    width: 30px;
    height: 30px;
    font-size: 60px;
    font-weight: 100;
    line-height: 24px;
    color: #777;
    cursor:pointer;
}
.quiz-window-body {
    background-color: #f9f9f9;
}
.guiz-awards-row {
    margin:0;
    padding: 10px 40px;
    list-style: none;
}

.quizz:hover {
    background-color: #e6e6e6;
}

.guiz-awards-row:after {
    content: '';
    display: table;
    clear:both;
}
.guiz-awards-row-even {
    background-color: #ffffff;
}
.guiz-awards-row li {
    display:inline-block;
    vertical-align: top;
    float: left;
}
.guiz-awards-header {
    text-align: center;
    padding: 20px 40px;
}

.guiz-awards-star {
    min-width: 15px;
    text-align: center;
    width: 6%;
}

.guiz-awards-track, .guiz-awards-time,
.guiz-awards-header-star, .guiz-awards-header-track, .guiz-awards-header-time{
    min-width: 49px;
    text-align: center;
    width: 6%;
}

.guiz-awards-title {
    width: 72%;
    min-width: 160px;
    font-size: 18px;
    font-weight: normal;
    padding-top: 3px;
    color:#000000;
}
.guiz-awards-header-title {
    width: 72%;
    min-width: 160px;
    text-align: left;
}
.guiz-awards-subtitle {
    color: #858585;
    font-size: 14px;
    font-weight: 300;
}
.guiz-awards-track, .guiz-awards-time {
    width: 22%;
    min-width: 80px;
    font-size: 18px;
    line-height: 45px;
}
.guiz-awards-header-track, .guiz-awards-header-time {
    width: 22%;
    min-width: 80px;
}
.guiz-awards-track, .guiz-awards-time {
    color:#000000;
}
.star {
    display:block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #bdc2c1;
    background: #d6d6d6;
}
.cyanstar {
    background: #02DABD;
    border-color: #02DABD;
}
.yellowstar {
    background: #F9C03D;
    border-color: #F9C03D;
    color: black;
}
.purplestar {
    border-color: #A10CCE;
    background: #A10CCE;
}
.bluestar {
    border-color: #0092FF;
    background: #0092FF;
}
.toscastar {
    border-color: #15819D;
    background: #15819D;
}

.greenstar {
    border-color: #0E9E52;
    background: #0E9E52;
}

.graystar {
    border-color: #F1F1E6;
    background: #F1F1E6;
    color: #707070;
}

.guiz-awards-buttons {
    background: #fff;
    text-align: center;
    padding: 20px 0;
}
.guiz-awards-but-back {
    display:inline-block;
    background: none;
    border: 1px solid #61a3e5;
    border-radius: 21px;
    padding: 7px 40px 7px 20px;
    color: #61a3e5;
    font-size: 17px;
    cursor:pointer;
    transition: all .3s ease;
}

.guiz-awards-but-back:hover {
    background: #61a3e5;
    color: #fff;
}

.guiz-awards-but-back i {
    font-size: 26px;
    line-height: 17px;
    margin-right: 20px;
    position: relative;
    top: 2px;
}

/*icon++*/
.iconplus {
    width: 13%;
    border: 1vh solid #F9C03D;
    background-color: #F9C03D;
    border-radius: 2vh;
    cursor: pointer;
}
.iconplus:hover {
    background-color: #EFB93D;
    border-color: #EFB93D;
}

/*image*/
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-5::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #F9C03D;
    position: absolute;
    bottom: -10px;
    left: 0;
    display: block;
    transition: all 0.3s;
    z-index: 999;
}

.hover-5-title {
    position: absolute;
    bottom: 1rem;
    left: 0;
    transition: all 0.3s;
    padding: 2rem 3rem;
    z-index: 99;
}

.hover-5-title span {
    transition: all 0.4s;
    opacity: 0;
    color: #F9C03D;
}

.hover-5:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.4);
}

.hover-5:hover .hover-5-title {
    bottom: 0;
}

.hover-5:hover .hover-5-title span {
    opacity: 1;
}

.hover-5:hover::after {
    bottom: 0;
}

/*modalpic*/
.modalpic-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    outline: 0;
}

.modalpic-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modalpic-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.btn-modal {
    position: absolute;
    right: 4vh;
    color: white;
}

.btn-modal:hover {
    color: darkred;
}

/*iduno why sould do dis*/
.bg-warning {
    background-color: #F9C03D;
}

.card-bg-change {
    background-color: #F1F1E6;
}

.inner-bg-change {
    background-color: #F9C03D;
    color: black;
}

.blackhex {
    color: #000 !important;
}





